.label-big-check {
	position: relative;
	display: block;
	padding: 15px 0 15px 35px;
	margin: 0;
	border-top: 1px solid #eee;
	cursor: pointer;
}
.label-big-check input {
	display: none;
}
.label-big-check .check-title {
	font-size: .9em;
	font-weight: 700;
	cursor: pointer;
}
.label-big-check input[type="checkbox"] + .check-title:before {
	position: absolute;
	top: 12px;
	left: 0;
	width: 30px;
	font-family: FontAwesome;
        content: "\f096";
        font-size: 2em;
        line-height: 1;
        color: #aaa;
}
.label-big-check input[type="checkbox"]:checked + .check-title:before {
    content: "\f14a";
    color: #333;
}