<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="shortcut icon" href="img/NIBLogo.png" type="image/x-icon">


<div style="background-image:url('img/back.jpg'); height:100vh; width:100vw; background-size: cover;" class="container-fluid">
<div style="margin-top: 10%; width: 30%; align-items: center; opacity:0.9; background-color:black; border-radius:8px" class="container login-form">
	<h2 style="text-align: center; color:white" class="login-title">- Please Login -</h2>
	<div class="panel panel-default">
		<div class="panel-body">
			<form action="services/Login.php" method="post" name="login">
				<div class="input-group login-userinput">
					<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
					<input id="txtUser" type="text" class="form-control" name="username"  placeholder="Username" required>
				</div>
				<br>
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span>
					<input  id="txtPassword" type="password" class="form-control" name="password" placeholder="Password" required>
                    </span>  
				</div>
				<br>
				<button class="btn btn-primary btn-block login-button" name="submit" type="submit" value="Login"><i class="fa fa-sign-in"></i> Login</button>
				<div class="checkbox login-options">
					<label><input type="checkbox"/> Remember Me</label>
				</div>		
			</form>
			<br>
			<img class="img img-responsive" src="img/logo.png">			
		</div>
	</div>
</div>
</div>

<script src="vendor_/bootstrap/js/bootstrap.min.js"></script>