<div class="page-header">
	<h1>Add Agenda</h1>
</div>

<form role="form" ng-submit="addAgenda()">
    <div style="padding-top: 5px" class="form-group">
         <label>Agenda</label><br>
         <input type="text" id="agenda" class="js-example-basic-single form-control" name="state" ng-model="agenda" class="form-control" placeholder="Agenda Topic" required/>
    </div>
	 <div style="padding-top: 5px" class="form-group">
         <label>Agenda Description</label><br>
          <textarea style="width:100%" rows="5" id="agendaDesc" class="js-example-basic-single form-control" name="state" ng-model="agendaDesc" placeholder="Agenda Description" class="form-control" required></textarea>
    </div>
	<p><hr></p>
	
	<div class="row">
		<div class="col-xs-6">
                <button class="btn btn-primary pull-left" type="submit">Add Agenda &raquo;</button>
		</div>
		<div class="col-xs-6">
                <a href="#/" class="btn btn-default pull-right" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Home</a>
		</div>
	</div>	
	<p>&nbsp;</p>
</form>

<div class="panel panel-default">
                <div class="panel-heading">
                    Registered Agendas
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                        <thead>
                            <tr>
                             <td>Id</td>
                             <td>Agenda Topic</td>
                             <td>Agenda Description</td>
                             <td>Action</td>
                       </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="row in agendas">
                             <td>{{row.Id}}</td>
                             <td>{{row.Agenda}}</td>
                             <td>{{row.AgendaDesc}}</td>
                             <td style="white-space: nowrap">
                                <a class="btn btn-danger" type="button" name="delete" ng-click="deleteAgenda(row.Id)"><i class="fa fa-trash-alt"></i></a>
                             </td>
                         </tr>
                     </tbody>
                </table>
          </div> 
  </div>