<div class="page-header">
        <h1>Add Notice</h1>
    </div>
    
    <form role="form" ng-submit="addNotice()">
        <div style="padding-top: 5px" class="form-group">
             <label>Notice Title</label><br>
             <input type="text" id="notice" class="js-example-basic-single form-control" name="state" ng-model="notice" class="form-control" placeholder="Notice Title" required/>
        </div>
         <div style="padding-top: 5px" class="form-group">
             <label>Notice Content</label><br>
              <textarea style="width:100%" rows="5" id="noticeCont" class="js-example-basic-single form-control" name="state" ng-model="noticeCont" placeholder="Notice Content" class="form-control" required></textarea>
        </div>
        <p><hr></p>
        
        <div class="row">
            <div class="col-xs-6">
                    <button class="btn btn-primary pull-left" type="submit">Add Notice &raquo;</button>
            </div>
            <div class="col-xs-6">
                    <a href="#/" class="btn btn-default pull-right" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Home</a>
            </div>
        </div>	
        <p>&nbsp;</p>
    </form>
    
    <div class="panel panel-default">
                    <div class="panel-heading">
                        Registered Notices
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                    <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                            <thead>
                                <tr>
                                 <td>Id</td>
                                 <td>Notice Title</td>
                                 <td>Notice Content</td>
                                 <td>Action</td>
                           </tr>
                         </thead>
                         <tbody>
                             <tr ng-repeat="row in notices">
                                 <td>{{row.Id}}</td>
                                 <td>{{row.noticeTitle}}</td>
                                 <td>{{row.noticeContent}}</td>
                                 <td style="white-space: nowrap">
                                    <a class="btn btn-danger" type="button" name="delete" ng-click="deleteNotice(row.Id)"><i class="fa fa-trash-alt"></i></a>
                                 </td>
                             </tr>
                         </tbody>
                    </table>
              </div> 
      </div>