 <div class="panel panel-default">
                <div class="panel-heading">
                     Reverse Vote On Agenda
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                   <div style="padding-right:15px" class="row">
                                <form class="form-inline">
                                    <div style="float:right; padding-top: 15px; padding-bottom: 15px" class="input-group">
                                        <input class="form-control" type="text" ng-model="search2" placeholder="Search"
                                            type="search" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </span>
                                    </div>
                                </form>
                   </div>
                <div style="padding: 10px;" class="row">
                <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                        <thead>
                            <tr>
                             <td>Id</td>
                             <td>Voter Id</td>
                             <td>Voter Name</td>
                             <td>Subscribed Share</td>
                             <td>Agenda Id</td>
                             <td>Agenda Topic</td>
                             <td>Vote</td>
                             <td>Action</td>
                       </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="row in votes|filter:search2" ng-model="search2">                                        
                             <td>{{row.Id}}</td>
                             <td>{{row.VoterId}}</td>
                             <td>{{row.VoterName}}</td>
                             <td>{{row.subdcribrdShare}}</td>
                             <td>{{row.agendaId}}</td>
                             <td>{{row.AgendaTopic}}</td>
                             <td>{{row.vote}}</td>
                             <td>
                              <a class="btn btn-danger" type="button" name="delete" ng-click="reverse(row.Id)"><i class="fa fa-reply"></i>
                              </a>
                             </td>
                         </tr>
                     </tbody>
                </table>
            </div>
          </div> 
  </div>