<div class="panel panel-default" ng-repeat="agenda in agendas">
                <div class="panel-heading">
                      Votes On {{agenda.Agenda}}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                <div style="padding: 10px;" class="row">
                <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="{{agenda.Id}}">
                        <thead>
                            <tr>
                             <td>Id</td>
                             <td>Voter Id</td>
                             <td>Voter Name</td>
                             <td>Voter Subscribed Share</td>
                             <td>Agenda Id</td>
                             <td>Agenda Topic</td>
                             <td>Vote</td>
                       </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="row in votesonAgenda" ng-if="row.agendaId == agenda.Id">                                        
                             <td><i class="fa fa-file"></i> {{row.Id}}</td>
                             <td>{{row.VoterId}}</td>
                             <td>{{row.VoterName}}</td>
                             <td>{{row.subdcribrdShare}}</td>
                             <td>{{row.agendaId}}</td>
                             <td>{{row.AgendaTopic}}</td>
                             <td>{{row.vote}}</td>
                         </tr>
                     </tbody>
                </table>
                <button id="{{agenda.Id}}" class="btn btn-primary" onclick="javascript:xport.toCSV(this.id);">
                <i style="margin-right: 10px" class="fa fa-file-excel"></i> Export to Excel</button>
            </div>
          </div> 
  </div>