<link rel="stylesheet" href="dist/css/select2.css">

                                    <div class="row">
                                          <div class="col-md-12">
                                                <br>
                                          <form id="frm" enctype="multipart/form-data">
                                                 <div style="padding-top: 5px" class="form-group">
                                                      <label class="control-label" for="inputError">Proxy Name</label>
                                                      <input type="text" id="proxyName" ng-model="proxyName" class="form-control" required>
                                                </div>
                                                <div style="padding-top: 5px" class="form-group">
                                                      <label class="control-label" for="inputError">Shareholders</label>
                                                      <br />
                                                      <select multiple class="js-example-basic-single" id="shareholderSelector"
                                                            style="width:100%" name="states[]" multiple="multiple" required>
                                                            <option class="form-control" value="{{shareholder.Id}}" ng-repeat="shareholder in shareholders">{{shareholder.Name}}</option>
                                                      </select>
                                                </div>
                                                <input style="margin-top: 10px; padding:7px; width:130px" class="btn btn-success"
                                                      type="submit" value="Submit" ng-click="addProxy()" />
                                          </form>
                                          </div>
                                    </div>
                                    <div style="padding:10px" class="row">
                                          <div class="panel panel-default">
                                                <div class="panel-heading">
                                                      Registered Proxy
                                                </div>
                                                <!-- /.panel-heading -->
                                                <div class="panel-body">
                                                      <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
                                                            id="dataTables-example">
                                                            <thead>
                                                                  <tr>
                                                                        <td>Proxy Id</td>
                                                                        <td>Proxy Name</td>
                                                                        <td>Shareholder Id</td>
                                                                        <td>Shareholder Name</td>
                                                                        <td>Subscribed Share</td>
                                                                        <td>Amount</td>
                                                                        <td>Action</td>
                                                                  </tr>
                                                            </thead>
                                                            <tbody>
                                                                  <tr ng-repeat="row in proxys">
                                                                        <td>{{row.Id}}</td>
                                                                        <td>{{row.proxyName}}</td>
                                                                        <td>{{row.shareHolderId}}</td>
                                                                        <td>{{row.shareholderName}}</td>
                                                                        <td>{{row.subscribedshare}}</td>
                                                                        <td>{{row.amount}}</td>
                                                                        <td style="white-space: nowrap">
                                                                              <a class="btn btn-danger" type="button"
                                                                                    name="delete" ng-click="deleteProxy(row.Id)">
                                                                                    <i class="fa fa-trash-alt"></i>
                                                                              </a>
                                                                        </td>
                                                                  </tr>
                                                            </tbody>
                                                      </table>
                                                </div>
                                          </div>
                                    </div>

<script>
      $(document).ready(function () {
            $("#shareholderSelector").select2();
            $('.js-example-basic-single').select2();
      });
</script>
<script src="scripts/select2.min.js"></script>