<link rel="stylesheet" href="dist/css/select2.css">

<div class="page-header">
    <h1>Attendance Approval</h1>
</div> 

<div class="panel panel-default">
                <div class="panel-heading">
                   Shareholders Attendance To Be Approved
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
               <div style="padding-right:10px" class="row">
                <div class="form-inline">
                    <div style="float:left; padding-left:15px;  padding-top: 15px; padding-bottom: 15px" class="input-group">
                        <button style="width:120px" class="btn btn-warning" ng-disabled="shareholders.length <= 0" ng-click="SubmitAll()"><i class="fa fa-allergies"></i> <span style="margin-left:5px">Submit All</span></button>
                    </div>
                    <div style="float:right; padding-top: 15px; padding-bottom: 15px" class="input-group">
                        <input class="form-control" type="text" ng-model="search" placeholder="Search" type="search" />
                        <span class="input-group-addon">
                            <span class="fa fa-search"></span>
                        </span>
                    </div>
                    <div style="float:right; padding-top: 15px; padding-bottom: 15px; padding-right: 10px;" class="input-group">
                        <span class="input-group-addon">
                                    <span>Maker</span>
                        </span>
                        <select style="width:250px" id="registrar" class="form-control"
                            ng-model="maker" disabled>
                                <option value="{{maker}}" selected>{{maker}}</option>
                        </select>
                    </div>
                </div>
                </div>
                <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                        <thead>
                            <tr>
                             <td>Id</td>
                             <td>Name</td>
                             <td>Subscribed Share</td>
                             <td>Amount</td>
                             <td>Requested By</td>
                             <td>Actions</td>
                       </tr>
                     </thead>
                     <tbody>
                         <tr dir-paginate="row in shareholders|filter: search: myFilter|itemsPerPage:15" ng-model="search" pagination-id="row">   
                             <td>{{row.Id}}</td>
                             <td>{{row.Name}}</td>
                             <td>{{row.numberOfshares}}</td>
                             <td>{{row.amount}}</td>
                             <td>{{row.MakerName}}</td>
                             <td style="white-space: nowrap">
                               <a class="btn btn-success" type="button" name="approve" ng-click="checkapprovedattendance(row.Id)"><i class="fa fa-check-square"></i>
                              </a>
                               <a class="btn btn-danger" type="button" name="delete" ng-click="unattend(row.Id)"><i class="fa fa-reply"></i>
                              </a>
                             </td>
                         </tr>
                     </tbody>
                </table>
            <dir-pagination-controls pagination-id="row" max-size="15" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
          </div> 
  </div>



  <div class="panel panel-default">
                <div class="panel-heading">
                     Attended Shareholders
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                   <div style="padding-right:15px" class="row">
                                <form class="form-inline">
                                    <div style="float:right; padding-top: 15px; padding-bottom: 15px" class="input-group">
                                        <input class="form-control" type="text" ng-model="search2" placeholder="Search"
                                            type="search" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </span>
                                    </div>
                                </form>
                   </div>
                <div style="padding: 10px;" class="row">
                <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                        <thead>
                            <tr>
                             <td>Shareholder Id</td>
                             <td>Name</td>
                             <td>Number Of Share</td>
                             <td>Amount</td>
                             <td>Action</td>
                       </tr>
                     </thead>
                     <tbody>
                         <tr dir-paginate="row in Attendedshareholders|filter: search2: myFilter2|itemsPerPage:15" ng-model="search2" pagination-id="row2">                                       
                             <td>{{row.Id}}</td>
                             <td>{{row.Name}}</td>
                             <td>{{row.numberOfshares}}</td>
                             <td>{{row.amount}} Birr.</td>
                             <td>
                              <a class="btn btn-danger" type="button" name="delete" ng-click="unattend(row.Id)"><i class="fa fa-reply"></i>
                              </a>
                             </td>
                         </tr>
                     </tbody>
                </table>
            <dir-pagination-controls pagination-id="row2" max-size="15" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
            </div>
          </div> 
  </div>

  <script src="scripts/select2.min.js"></script>
  <script>
   $(document).ready(function () {
        $('.js-example-basic-single').select2();
    });
  </script>