<div class="panel panel-default">
                <div class="panel-heading">
                     Boards Vote Report
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                   <div style="padding-right:15px" class="row">
                                <form class="form-inline">
                                    <div style="float:left; padding-top: 15px; padding-bottom: 15px; padding-left: 10px" class="input-group">
                                                <select class="form-control" ng-model="limiter">
                                                    <option value="100" selected>100</option>
                                                    <option value="200" selected>200</option>
                                                    <option value="400">400</option>
                                                    <option value="800">800</option>
                                                    <option value="1200">1200</option>
                                                    <option value="1200">1500</option>
                                                </select>
                                                <span class="input-group-addon">
                                                    <span class="fa fa-arrows-alt-h"></span>
                                                </span>
                                    </div>
                                    <div style="float:right; padding-top: 15px; padding-bottom: 15px" class="input-group">
                                        <input class="form-control" type="text" ng-model="search2" placeholder="Search"
                                            type="search" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </span>
                                    </div>
                                </form>
                   </div>
                <div style="padding: 10px;" class="row">
                <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="BoardsVoteReport">
                        <thead>
                            <tr>
                             <td>Id</td>
                             <td>Voter Id</td>
                             <td>Voter Name</td>
                             <td>Voted Candidates Id</td>
                             <td>Voted Candidates Name</td>
                             <td>Voter Subscribed Share</td>
                             <td>Data Encoder</td>
                       </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="row in votes|filter:search2|limitTo:limiter" ng-model="search2">                                        
                             <td><i class="fa fa-file"></i>  {{row.Id}}</td>
                             <td>{{row.VoterId}}</td>
                             <td>{{row.VoterName}}</td>
                             <td>{{row.VotedCandidatesId}}</td>
                             <td>{{row.VotedCandidatesName}}</td>
                             <td>{{row.SubscribedShare}}</td>
                             <td><i class="fa fa-user"></i> {{row.DataEncoder}}</td>
                         </tr>
                         <tr style="font-weight: bold">                                        
                            <td>Total</td>
                            <td colspan="2">Voters: {{totalVoteShareHolders}}</td>
                            <td colspan="2">Subscribed Shares: {{TotalVoteshareNumber}}</td>
                            <td colspan="2">Voters Percentage: {{Voterspercentage}} %</td>
                        </tr>
                     </tbody>
                </table>
                <button id="BoardsVoteReport" class="btn btn-primary" onclick="javascript:xport.toCSV(this.id);">
                <i style="margin-right: 10px" class="fa fa-file-excel"></i> Export to Excel</button>
            </div>
          </div> 
  </div>