<link rel="stylesheet" href="dist/css/select2.css">

<div class="page-header">
	<h1>Add Candidates</h1>
</div>

<form role="form" ng-submit="addcandidate()">
    <div class="row">
    <div class="form-group col-xs-6">
        <label for="candidatename">Candidate Serial Number</label>
            <select id="candidatename" class="js-example-basic-single form-control"
                name="state" class="form-control" data-ng-model="shareholder" data-ng-change="setCandidate(shareholder)"  
                      data-ng-options="shareholder as shareholder.Id for shareholder in shareholders" data-ng-required="true">
                     <option value="" selected disabled hidden>Select Candidate</option>
            </select>
    </div>
    </div>
    <div style="padding-top: 5px; display: none; visibility: hidden;" class="form-group">
         <label>Shareholder Id</label><br>
         <input type="Number" id="ShareholderId" class="js-example-basic-single form-control" name="state" ng-model="ShareholderId" class="form-control"  readonly="true" required/>
    </div>
    <div style="padding-top: 5px" class="form-group">
         <label>Shareholder Name</label><br>
         <input type="text" id="shareholderName" class="js-example-basic-single form-control" name="state" ng-model="shareholderName" class="form-control"  readonly="true" required/>
    </div>
	 <div style="padding-top: 5px" class="form-group">
         <label>Subscribed Share</label><br>
         <input type="Number" id="NumberOfShare" class="js-example-basic-single form-control" name="state" ng-model="candidate.NumberOfShare" class="form-control" readonly="true" required/>
    </div>
     <div style="padding-top: 5px" class="form-group">
         <label>Amount</label><br>
         <input type="Number" id="amount" class="js-example-basic-single form-control" name="state" ng-model="amount" class="form-control" readonly="true" required/>
    </div>
	<p><hr></p>
	
	<div class="row">
		<div class="col-xs-6">
                <button class="btn btn-primary pull-left" type="submit">Add Candidate &raquo;</button>
		</div>
		<div class="col-xs-6">
                <a href="#/" class="btn btn-default pull-right" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Home</a>
		</div>
	</div>
	
	<p>&nbsp;</p>
</form>



 <div class="panel panel-default">
                <div class="panel-heading">
                    Registered Candidates
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                        <thead>
                            <tr>
                             <td>Id</td>
                             <td>Shareholder Id</td>
                             <td>Name</td>
                             <td>Subscribed Share</td>
                             <td>Action</td>
                       </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="row in candidates">
                             <td>{{row.Id}}</td>
                             <td>{{row.shareHolderId}}</td>
                             <td>{{row.Name}}</td>
                             <td>{{row.NumberOfShare}}</td>
                             <td style="white-space: nowrap">
                                <a class="btn btn-danger" type="button" name="delete" ng-click="deleteCandidate(row.Id)"><i class="fa fa-trash-alt"></i></a>
                             </td>
                         </tr>
                     </tbody>
                </table>
          </div> 
  </div>



<script src="scripts/select2.min.js"></script>
<script>
      // In your Javascript (external .js resource or <script> tag)
      $(document).ready(function () {
            $('.js-example-basic-single').select2();
            $('#files').change(handleFile);
      });
</script>