<link rel="stylesheet" href="dist/css/select2.css">
<style>
  input#file {
  display: inline-block;
  width: 100%;
  padding: 120px 0 0 0;
  height: 100px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('http://archisnapper.com/cloud.png') center center no-repeat #e4e4e4;
  border-radius: 20px;
  background-size: 150px 100px;
}
</style>

<h1>Add Shareholder</h1>

                  <div style="padding: 5px;" class="row">
                        <div class="panel panel-default">
                              <div class="panel-heading">
                                    Parse Shareholders Data From Excel Sheet
                              </div>
                              <!-- /.panel-heading -->
                              <div class="panel-body">
                                    <div class="form-group">
                                          <br>
                                          <label class="control-label" for="inputError">Excel File (.csv)</label>
                                          <div class="input-group">
                                          <span class="input-group-addon"><span class="fa fa-upload"></span></span>
                                          <input type="file" id="files" name="files" ng-model="csvFileUpload" class="form-control btn btn-primary" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                                          <span class="input-group-addon">Choose</span>
                                          </div>
                                          <br>
                                          <!--<input style="padding: 5px;" class="btn btn-success" type="button" value="Parse" onclick="UploadCSV()">-->
                                    </div>
                                    <div style="padding: 15px; overflow-x: scroll" class="row">
                                          <table id="table" class="table table-striped table-bordered table-hover table-responsive">
                                                <thead style="background-color: rgb(225, 225, 255)">
                                                     <th>Id</td>
                                                     <th>Name</th>
                                                     <th>Subscribed Share</th>
                                                     <th>Amount</th>
                                                </thead>
                                          </table>
                                          <button id="exportBtn" disabled="true" class="btn btn-primary" ng-click="SaveParsedCSVtoDB()">
                                            <i class="fa fa-database"></i> Export To Database
                                          </button>
                                        <a style="float:right" href="#/" class="btn btn-default pull-right" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Home</a>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>


 <div class="panel panel-default">
                <div class="panel-heading">
                    Registered Shareholders
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                <div style="padding-right:10px" class="row">
                <form class="form-inline">
                    <div style="float:right; padding-top: 15px; padding-bottom: 15px" class="input-group">
                        <input class="form-control" type="text" ng-model="search" placeholder="Search" type="search" />
                        <span class="input-group-addon">
                            <span class="fa fa-search"></span>
                        </span>
                    </div>
                </form>
            </div>
                  <table id="example" class="table table-bordered table-hover table-responsive dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                             <th>Id</td>
                             <th>Name</th>
                             <th>Subscribed Share</th>
                             <th>Amount</th>
                             <th>Action</th>
                        </thead>
                     <tbody>
                           <tr dir-paginate="row in shareholders|orderBy:sortKey:reverse|filter:search|itemsPerPage:15"
                            ng-click="setClickedRow($index)" ng-model="search" pagination-id="row" >
                             <td>{{row.Id}}</td>
                             <td>{{row.Name}}</td>
                             <td>{{row.numberOfshares}}</td>
                             <td>{{row.amount}} Birr.</td>
                             <td style="white-space: nowrap">
                                <a class="btn btn-danger" type="button" name="delete" ng-click="deleteShareholder(row.Id)"><i class="fa fa-trash-alt"></i></a>
                             </td>
                         </tr>
                     </tbody>
                </table>
            <dir-pagination-controls pagination-id="row" max-size="15" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
          </div> 
  </div>

  <div class="panel panel-default">
      <div class="panel-heading">
          Influential Shareholders
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
      <div style="padding-right:10px" class="row">
      <form class="form-inline">
          <div style="float:right; padding-top: 15px; padding-bottom: 15px" class="input-group">
              <input class="form-control" type="text" ng-model="search2" placeholder="Search" type="search" />
              <span class="input-group-addon">
                  <span class="fa fa-search"></span>
              </span>
          </div>
      </form>
  </div>
        <table id="example" class="table table-bordered table-hover table-responsive dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                   <th>Id</th>
                   <th>Name</th>
                   <th>Subscribed Share</th>
                   <th>Amount</th>
                   <th>Action</th>
              </thead>
           <tbody>
                 <tr dir-paginate="row in IndluentialShareholders|orderBy:sortKey:reverse|filter:search2|itemsPerPage:15"
                  ng-click="setClickedRow($index)" ng-model="search" pagination-id="row1">
                   <td>{{row.Id}}</td>
                   <td>{{row.Name}}</td>
                   <td>{{row.numberOfshares}}</td>
                   <td>{{row.amount}} Birr.</td>
                   <td style="white-space: nowrap">
                      <a class="btn btn-danger" type="button" name="delete" ng-click="deleteShareholder(row.Id)"><i class="fa fa-trash-alt"></i></a>
                   </td>
               </tr>
           </tbody>
      </table>
  <dir-pagination-controls pagination-id="row1" max-size="15" direction-links="true" boundary-links="true">
  </dir-pagination-controls>
</div> 
</div>




<script src="scripts/select2.min.js"></script>
<script src="scripts/xlsx.js"></script>
<script>
      // In your Javascript (external .js resource or <script> tag)
      $(document).ready(function () {
            $('.js-example-basic-single').select2();
            $('#files').change(handleFile);
      });
</script>