
<div class="page-header">
    <h1>Proxy Attendance Report</h1>
</div> 
 <div class="panel panel-default">
                <div class="panel-heading">
                    Attended Proxy
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                   <div style="padding-right:15px" class="row">
                                <form class="form-inline">
                                    <div style="float:right; padding-top: 15px; padding-bottom: 15px" class="input-group">
                                        <input class="form-control" type="text" ng-model="search" placeholder="Search"
                                            type="search" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </span>
                                    </div>
                                </form>
                   </div>
                <div style="padding: 10px;" class="row">
                <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="AttendedshareholdersReport">
                        <thead>
                            <tr>
                             <td>Id</td>
                             <td>Proxy Name</td>
                             <td>Shareholder Id</td>
                             <td>Shareholder Name</td>
                             <td>Subscribed Share</td>
                             <td>Amount</td>
                       </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="row in proxys|filter:search" ng-model="search">                                     
                             <td><i class="fa fa-file"></i> {{row.Id}}</td>
                             <td><i class="fa fa-check"></i> {{row.proxyName}}</td>
                             <td>{{row.shareHolderId}}</td>
                             <td>{{row.shareholderName}}</td>
                             <td>{{row.subscribedshare}}</td>
                             <td>{{row.amount}}</td>
                         </tr>
                         <tr style="font-weight: bold">                                     
                            <td>Total</td>
                            <td colspan="3">{{totalproxy}}</td>
                            <td>{{TotalProxshareNumber}}</td>
                            <td>{{TotalProxAmountBirr}}</td>
                        </tr>
                     </tbody>
                </table>
                <button id="AttendedshareholdersReport" class="btn btn-primary" onclick="javascript:xport.toCSV(this.id);">
                <i style="margin-right: 10px" class="fa fa-file-excel"></i> Export to Excel</button><br>
            </div>
          </div> 
  </div>
  <br>
  <div class="panel panel-default">
                <div class="panel-heading">
                    Attended Shareholders (Not Proxy)
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                   <div style="padding-right:15px" class="row">
                                <form class="form-inline">
                                    <div style="float:right; padding-top: 15px; padding-bottom: 15px" class="input-group">
                                        <input class="form-control" type="text" ng-model="search2" placeholder="Search"
                                            type="search" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </span>
                                    </div>
                                </form>
                   </div>
                <div style="height: 300px; overflow-y: scroll; padding: 10px;" class="row">
                <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="UnAttendedshareholdersReport">
                        <thead>
                            <tr>
                             <td>Id</td>
                             <td>Proxy Name</td>
                             <td>Shareholder Id</td>
                             <td>Shareholder Name</td>
                             <td>Subscribed Share</td>
                             <td>Amount</td>
                       </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="_row in Inproxys|filter:search2" ng-model="search2">                                  
                             <td><i class="fa fa-file"></i> {{_row.Id}}</td>
                             <td><i class="fa fa-check"></i> {{_row.proxyName}}</td>
                             <td>{{_row.shareHolderId}}</td>
                             <td>{{_row.shareholderName}}</td>
                             <td>{{_row.subscribedshare}}</td>
                             <td>{{_row.amount}}</td>
                         </tr>
                     </tbody>
                </table>
                 <button id="UnAttendedshareholdersReport" class="btn btn-primary" onclick="javascript:xport.toCSV(this.id);">
                <i style="margin-right: 10px" class="fa fa-file-excel"></i> Export to Excel</button> <br>
            </div>
          </div> 
  </div>