<div class="panel panel-default">
                <div class="panel-heading">
                     Reversed Board Votes Report
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                   <div style="padding-right:15px" class="row">
                                <form class="form-inline">
                                    <div style="float:right; padding-top: 15px; padding-bottom: 15px" class="input-group">
                                        <input class="form-control" type="text" ng-model="search" placeholder="Search"
                                            type="search" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </span>
                                    </div>
                                </form>
                   </div>
                <div style="padding: 10px;" class="row">
                <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="ReversedBoardVotesReport">
                        <thead>
                            <tr>
                             <td>Id</td>
                             <td>Voter Id</td>
                             <td>Voter Name</td>
                             <td>Voted Candidates Id</td>
                             <td>Voted Candidates Name</td>
                             <td>Voter Subscribed Share</td>
                             <td>Data Encoder</td>
                       </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="row in Reversedvotes|filter:search" ng-model="search">                                        
                             <td><i class="fa fa-file"></i>  {{row.Id}}</td>
                             <td>{{row.voterId}}</td>
                             <td>{{row.voterName}}</td>
                             <td>{{row.votedcandidatesId}}</td>
                             <td>{{row.votedcandidateName}}</td>
                             <td>{{row.subscribedshare}}</td>
                             <td><i class="fa fa-user"></i> {{row.encoder}}</td>
                         </tr>
                     </tbody>
                </table>
                <button id="ReversedBoardVotesReport" class="btn btn-primary" onclick="javascript:xport.toCSV(this.id);">
                <i style="margin-right: 10px" class="fa fa-file-excel"></i> Export to Excel</button>
            </div>
          </div> 
  </div>


  <div class="panel panel-default">
                <div class="panel-heading">
                     Reversed Votes On  Agenda Report
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                   <div style="padding-right:15px" class="row">
                                <form class="form-inline">
                                    <div style="float:right; padding-top: 15px; padding-bottom: 15px" class="input-group">
                                        <input class="form-control" type="text" ng-model="search2" placeholder="Search"
                                            type="search" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </span>
                                    </div>
                                </form>
                   </div>
                <div style="padding: 10px;" class="row">
                <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="ReversedAgendaVotesReport">
                        <thead>
                            <tr>
                             <td>Id</td>
                             <td>Voter Id</td>
                             <td>Voter Name</td>
                             <td>Subscribed Share</td>
                             <td>Agenda Id</td>
                             <td>Agenda Topic</td>
                             <td>Vote</td>
                       </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="row in ReversedAgendavotes|filter:search2" ng-model="search2">                                        
                             <td><i class="fa fa-file"></i>  {{row.Id}}</td>
                             <td>{{row.VoterId}}</td>
                             <td>{{row.VoterName}}</td>
                             <td>{{row.subscribedShare}}</td>
                             <td>{{row.AgendaId}}</td>
                             <td>{{row.AgendaTopic}}</td>
                             <td>{{row.vote}}</td>
                         </tr>
                     </tbody>
                </table>
                <button id="ReversedAgendaVotesReport" class="btn btn-primary" onclick="javascript:xport.toCSV(this.id);">
                <i style="margin-right: 10px" class="fa fa-file-excel"></i> Export to Excel</button>
            </div>
          </div> 
  </div>