
<div class="page-header">
    <h1>Shareholders Attendance Report</h1>
</div> 
 <div class="panel panel-default">
                <div class="panel-heading">
                    Attended Shareholders
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                   <div style="padding-right:15px" class="row">
                                <form class="form-inline">
                                    <div style="float:left; padding-top: 15px; padding-bottom: 15px; padding-left: 10px" class="input-group">
                                                <select class="form-control" ng-model="limiter">
                                                    <option value="200" selected>200</option>
                                                    <option value="400">400</option>
                                                    <option value="800">800</option>
                                                    <option value="1200">1200</option>
                                                    <option value="1200">1500</option>
                                                </select>
                                                <span class="input-group-addon">
                                                    <span class="fa fa-arrows-alt-h"></span>
                                                </span>
                                    </div>
                                    <div style="float:right; padding-top: 15px; padding-bottom: 15px" class="input-group">
                                        <input class="form-control" type="text" ng-model="search" placeholder="Search"
                                            type="search" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </span>
                                    </div>
                                </form>
                   </div>
                <div style="padding: 10px;" class="row">
                <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="AttendedshareholdersReport">
                        <thead>
                            <tr>
                             <td>Shareholder Id</td>
                             <td>Name</td>
                             <td>Number Of Share</td>
                             <td>Amount</td>
                             <td>Percent</td>
                             <td>Encoder</td>
                       </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="row in attendedShareholders|filter:search|limitTo:limiter" ng-model="search">                                     
                             <td><i class="fa fa-file"></i> {{row.Id}}</td>
                             <td><i class="fa fa-check"></i> {{row.Name}}</td>
                             <td>{{row.numberOfshares}}</td>
                             <td>{{row.amount}} Birr.</td>
                             <td>{{row.numberOfshares * 100 / totalSubscribedshares}} %</td>
                             <td>{{row.EncoderName}}</td>
                         </tr>
                         <tr style="font-weight: bolder">                                     
                            <td><i class="fa fa-file"></i> Total</td>
                            <td>{{totalAttendedShareHolders}}</td>
                            <td>{{TotalshareNumber}}</td>
                            <td>{{TotalAmountBirr}} Birr.</td>
                            <td>{{percentage}} %</td>
                            <td>Encoders</td>
                        </tr>
                     </tbody>
                </table>
                <button id="AttendedshareholdersReport" class="btn btn-primary" onclick="javascript:xport.toCSV(this.id);">
                <i style="margin-right: 10px" class="fa fa-file-excel"></i> Export to Excel</button><br>
            </div>
          </div> 
  </div>
  <br>
  <div class="panel panel-default">
                <div class="panel-heading">
                    Unattended Shareholders
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                   <div style="padding-right:15px" class="row">
                                <form class="form-inline">
                                    <div style="float:left; padding-top: 15px; padding-bottom: 15px; padding-left: 10px" class="input-group">
                                                <select class="form-control" ng-model="limiter2">
                                                    <option value="200" selected>200</option>
                                                    <option value="400">400</option>
                                                    <option value="800">800</option>
                                                    <option value="1200">1200</option>
                                                    <option value="1200">1500</option>
                                                </select>
                                                <span class="input-group-addon">
                                                    <span class="fa fa-arrows-alt-h"></span>
                                                </span>
                                    </div>
                                    <div style="float:right; padding-top: 15px; padding-bottom: 15px" class="input-group">
                                        <input class="form-control" type="text" ng-model="search2" placeholder="Search"
                                            type="search" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </span>
                                    </div>
                                </form>
                   </div>
                <div style="padding: 10px;" class="row">
                <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="UnAttendedshareholdersReport">
                        <thead>
                            <tr>
                             <td>Shareholder Id</td>
                             <td>Name</td>
                             <td>Number Of Share</td>
                             <td>Amount</td>
                             <td>Percent</td>
                       </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="_row in UnattendedShareholders|filter:search2|limitTo:limiter2" ng-model="search2">                                  
                             <td><i class="fa fa-file"></i> {{_row.Id}}</td>
                             <td><i class="fa fa-times"></i> {{_row.Name}}</td>
                             <td>{{_row.numberOfshares}}</td>
                             <td>{{_row.amount}} Birr.</td>
                             <td>{{_row.numberOfshares * 100 / totalSubscribedshares}} %</td>
                         </tr>
                         <tr style="font-weight: bolder">                                     
                            <td><i class="fa fa-file"></i> Total</td>
                            <td>{{totalAttendedShareHolders2}}</td>
                            <td>{{TotalshareNumber2}}</td>
                            <td>{{TotalAmountBirr2}} Birr.</td>
                            <td>{{percentage2}} %</td>
                        </tr>
                     </tbody>
                </table>
                 <button id="UnAttendedshareholdersReport" class="btn btn-primary" onclick="javascript:xport.toCSV(this.id);">
                <i style="margin-right: 10px" class="fa fa-file-excel"></i> Export to Excel</button> <br>
            </div>
          </div> 
  </div>