
<div class="page-header">
    <h1>Shareholders Attendance</h1>
</div> 
 <div class="panel panel-default">
                <div class="panel-heading">
                    Registered Shareholders
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                   <div style="padding-right:15px" class="row">
                                <form class="form-inline">
                                    <div style="float:right; padding-top: 15px; padding-bottom: 15px" class="input-group">
                                        <input id="search" class="form-control" type="text" ng-model="search" placeholder="Search" type="search"/>
                                        <span class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </span>
                                    </div>
                                </form>
                   </div>
                <div style="height: 300px; overflow-y: scroll; padding: 10px;" class="row">
                <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                        <thead>
                            <tr>
                             <td>Shareholder Id</td>
                             <td>Name</td>
                             <td>Number Of Share</td>
                             <td>Amount</td>
                             <td>Action</td>
                       </tr>
                     </thead>
                     <tbody>
                            <tr dir-paginate="row in shareholders|filter: search: myFilter|itemsPerPage:15" ng-model="search" pagination-id="row">
                             <td>{{row.Id}}</td>
                             <td>{{row.Name}}</td>
                             <td>{{row.numberOfshares}}</td>
                             <td>{{row.amount}} Birr.</td>
                             <td style="white-space: nowrap">
                                <a class="btn btn-success" type="button" name="attend" ng-click="checkattendance(row.Id)"><i class="fa fa-clipboard-check"></i></a>
                             </td>
                     </tbody>
                </table>
            <dir-pagination-controls pagination-id="row" max-size="15" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
            </div>
          </div> 
  </div>

   <div class="panel panel-default">
                <div class="panel-heading">
                    Attended Shareholders
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                   <div style="padding-right:15px" class="row">
                                <form class="form-inline">
                                    <div style="float:right; padding-top: 15px; padding-bottom: 15px" class="input-group">
                                        <input class="form-control" type="text" ng-model="search2" placeholder="Search"
                                            type="search" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </span>
                                    </div>
                                </form>
                   </div>
                <div style="padding: 10px;" class="row">
                <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                        <thead>
                            <tr>
                             <td>#</td>
                             <td>Shareholder Id</td>
                             <td>Name</td>
                             <td>Number Of Share</td>
                             <td>Amount</td>
                       </tr>
                     </thead>
                     <tbody>
                         <tr dir-paginate="_row in Attendedshareholders|filter: search2: myFilter2|itemsPerPage:15" pagination-id="_row">  
                             <td><i class="fa fa-user"></i></td>                                      
                             <td>{{_row.Id}}</td>
                             <td>{{_row.Name}}</td>
                             <td>{{_row.numberOfshares}}</td>
                             <td>{{_row.amount}} Birr.</td>
                         </tr>
                     </tbody>
                </table>
            <dir-pagination-controls pagination-id="_row" max-size="15" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
            </div>
          </div> 
  </div>