<link rel="stylesheet" href="dist/css/select2.css">

<div class="page-header">
	<h1>Add Users</h1>
</div>

<form role="form" ng-submit="Adduser()">
    <div style="padding:5px;" class="row">
    <div style="padding-top: 5px" class="form-group">
         <label>User Name</label><br>
         <input type="text" id="user_name" class="js-example-basic-single form-control" name="username" ng-model="uername" class="form-control"  required/>
    </div>
    <div style="padding-top: 5px" class="form-group">
         <label>Password</label><br>
         <input type="password" id="password" class="js-example-basic-single form-control" name="password" ng-model="password" class="form-control" required/>
    </div>
    <div class="form-group">
        <label for="candidatename">Role</label>
            <select id="role" class="js-example-basic-single form-control" name="state" ng-model="role" class="form-control" required>
                     <option value="" selected disabled hidden>Select Role</option>
                     <option>Administrator</option>
                     <option>Registrar</option>
                     <option>RegAuditor</option>
                     <option>Voter</option>
                     <option>VoteAuditor</option>
                     <option>Guest</option>
            </select>
    </div>
    </div>
	<p><hr></p>	
	<div class="row">
		<div class="col-xs-6">
                <button class="btn btn-primary pull-left" type="submit">Add User &raquo;</button>
		</div>
		<div class="col-xs-6">
                <a href="#/" class="btn btn-default pull-right" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Home</a>
		</div>
	</div>
	
	<p>&nbsp;</p>
</form>



 <div class="panel panel-default">
                <div class="panel-heading">
                    Registered Users
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                        <thead>
                            <tr>
                             <td>Id</td>
                             <td>User Name</td>
                             <td>Role</td>
                             <td>Action</td>
                       </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="row in users">
                             <td>{{row.Id}}</td>
                             <td>{{row.username}}</td>
                             <td>{{row.role}}</td>
                             <td style="white-space: nowrap">
                                <a class="btn btn-danger" type="button" name="delete" ng-click="deleteUser(row.Id)"><i class="fa fa-trash-alt"></i></a>
                             </td>
                         </tr>
                     </tbody>
                </table>
          </div> 
  </div>



  <div class="panel panel-default">
    <div class="panel-heading">
        Map Users
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
  <div style="padding-top:5px" class="row">
    <form role="form" ng-submit="MapRegUser()">
    <div class="col-lg-4 col-md-6">
          <label class="control-label" for="inputSuccess">Registration Maker Username</label>
                <div class="input-group">
                    <select style="width:250px" id="RegMaker" class="js-example-basic-single form-control form-control"
                        ng-model="RegMaker" required>
                            <option value="" selected disabled hidden>Choose Registration Checker Here</option>
                            <option value="{{regmuser.username}}" ng-repeat="regmuser in Regmakers">{{regmuser.username}}</option>
                    </select>
                </div>
    </div>
    <div class="col-lg-4 col-md-6">
          <label class="control-label" for="inputWarning">Registration Checker Username</label>
                <div class="input-group">
                    <select style="width:250px" id="RegChecker" class="js-example-basic-single form-control form-control"
                        ng-model="RegChecker" required>
                            <option value="" selected disabled hidden>Choose Registration Maker Here</option>
                            <option value="{{regcuser.username}}" ng-repeat="regcuser in Regcheckers">{{regcuser.username}}</option>
                    </select>
                </div>
    </div>
    <div style="padding-top:3px;" class="col-lg-4 col-md-6">
          <br>
          <input type="submit" class="btn btn-success" value="Map Reg. User">
    </div>
    </form>
</div>
<br>
<hr>
<div style="padding-top:5px; margin-top: 30px" class="row">
    <form role="form" ng-submit="MapVoteUser()">
    <div class="col-lg-4 col-md-6">
          <label class="control-label" for="inputSuccess">Vote Maker Username</label>
                <div class="input-group">
                    <select style="width:250px" id="VoteReg" class="js-example-basic-single form-control form-control"
                        ng-model="VoteReg" required>
                            <option value="" selected disabled hidden>Choose Vote Maker Here</option>
                            <option value="{{votemuser.username}}" ng-repeat="votemuser in Votemakers">{{votemuser.username}}</option>
                    </select>
                </div>
    </div>
    <div class="col-lg-4 col-md-6">
          <label class="control-label" for="inputWarning">Vote Checker Username</label>
                <div class="input-group">
                    <select style="width:250px" id="VoteChk" class="js-example-basic-single form-control form-control"
                        ng-model="VoteChk" required>
                            <option value="" selected disabled hidden>Choose Vote Checker Here</option>
                            <option value="{{votecuser.username}}" ng-repeat="votecuser in Votecheckers">{{votecuser.username}}</option>
                    </select>
                </div>
    </div>
    <div style="padding-top:3px;" class="col-lg-4 col-md-6">
          <br>
          <input type="submit" class="btn btn-success"  value="Map Vote User">
    </div>
</form>
</div>
</div>
</div>


<div class="panel panel-default">
        <div class="panel-heading">
            Maped Users
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
        <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                <thead>
                    <tr>
                     <td>Id</td>
                     <td>Maker Username</td>
                     <td>Checker Username</td>
                     <td>Action</td>
               </tr>
             </thead>
             <tbody>
                 <tr ng-repeat="row in mapedusers">
                     <td>{{row.Id}}</td>
                     <td>{{row.maker}}</td>
                     <td>{{row.checker}}</td>
                     <td style="white-space: nowrap">
                        <a class="btn btn-danger" type="button" name="delete" ng-click="deleteMap(row.Id)"><i class="fa fa-trash-alt"></i></a>
                     </td>
                 </tr>
             </tbody>
        </table>
  </div> 
</div>


<script src="scripts/select2.min.js"></script>
<script>
 $(document).ready(function () {
      $('.js-example-basic-single').select2();
  });
</script>