<link rel="stylesheet" href="dist/css/select2.css">

<div class="page-header">
    <h1>Vote For Agenda</h1>
</div> 

<form role="form" ng-submit="submitVote(groupOfDefaultRadios)">
<div class="row">
<div  style="padding:8px;" class="row">
<div class="form-group col-md-6">
		<label for="shareholdername">Voater Id</label><br>
		<select style="width:100%" id="voaterId" class="js-example-basic-single form-control" name="state" class="form-control" ng-model="voaterId" data-ng-change="setValues(voaterId)" data-ng-options="shareholder as shareholder.Id for shareholder in shareholders" 
		ng-value="{{shareholder.Id}}" data-ng-required="true">
        <option value="" selected disabled hidden>Select Voter</option>
        </select>
 <br><br>
 <label for="shareholdername">Shareholder Name</label>: <label style="color:green" id="voterName">{{voterName}}</label>
 <label style="display:none; visibility:hidden" style="color:green" id="VoterId">{{shareholderId}}</label>
 <br><br>
 <label for="shareholdername">Subscribed Share</label>: <label style="color:green" id="NumberOfShare">{{noofshareholder}}</label>
 <br><br>
 <label for="amount">Amount</label>: <label style="color:green" id="amount">{{amount}}</label>
</div>

<div class="form-group col-md-6">
        <label for="candidatename">Agenda</label><br>
            <select style="width: 100%" id="agenda" class="js-example-basic-single form-control"
                name="state" class="form-control" ng-model="agenda" disabled>
                <option value="{{agenda}}" selected>{{agenda}}</option>
            </select>
       <label style="display: none; visibility: hidden;" id="agendaTopic">{{agendaTopic}}</label>
       <br><br>
     <label for="voteid">Agenda Id</label>: <label style="color:green" id="agendaId">{{agendaId}}</label>
     <textarea style="width: 100%" rows="3" class="form-control" readonly="true">{{agendaDesc}}</textarea>
</div>

</div>
<div style="margin: 3px;" class="row alert alert-info">
<!-- Group of default radios - option 1 -->
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="defaultGroupExample1" ng-model="groupOfDefaultRadios" ng-value="'1'" ng-checked="true">
  <label class="custom-control-label" for="defaultGroupExample1">Accepted</label>
</div>
<br>
<!-- Group of default radios - option 2 -->
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="defaultGroupExample2" ng-model="groupOfDefaultRadios" ng-value="'2'" >
  <label class="custom-control-label" for="defaultGroupExample2">Declined</label>
</div>
<br>
<!-- Group of default radios - option 3 -->
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="defaultGroupExample3" ng-model="groupOfDefaultRadios" ng-value="'3'" >
  <label class="custom-control-label" for="defaultGroupExample3">Abstain</label>
</div>
<br><br>
	<div class="row">
		<div class="col-xs-6">
                <button class="btn btn-primary pull-left" type="Submit">Submit Vote &raquo;</button>
		</div>
		<div class="col-xs-6">
                <a href="#/" class="btn btn-default pull-right" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Home</a>
		</div>
	</div>
</div>
</div>
</form>

<script src="scripts/select2.min.js"></script>
<script>
      // In your Javascript (external .js resource or <script> tag)
      $(document).ready(function () {
            $('.js-example-basic-single').select2();
            $('#files').change(handleFile);
      });
</script>